@page "/find-order"
@using System.ComponentModel.DataAnnotations
@inject NavigationManager NavigationManager

<section>
    <h2>Find your order</h2>

    <EditForm Model="this" OnValidSubmit="LoadOrder">
        <div class="form-group">
            <h4>Order number</h4>
            <InputText @bind-Value="OrderId" type="text" class="form-control" placeholder="Order number" />            
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Track order</button>
        </div>

        <DataAnnotationsValidator />
        <ValidationSummary />
    </EditForm>
</section>

@code {
    [Required(ErrorMessage = "Please enter your order number")]
    [RegularExpression("[0-9]+", ErrorMessage = "Please enter a valid order number.")]
    public string OrderId { get; set; }

    void LoadOrder()
    {
        NavigationManager.NavigateTo($"order-tracking/{OrderId}");
    }
}