@{
    var protocol = Context.Request.Scheme;
    var host = Context.Request.Host;
}
<li>
    <a href="@Url.Action("Index", "ShoppingCart", values: null, protocol: protocol, host: host.ToUriComponent(), fragment: null)" title="@ViewBag.CartSummary" class="head-link" id="shopping-cart-link">

        <div>Cart</div>
        @if (ViewBag.CartCount > 0)
        {
            <span class="hidden-xs" id="cart-count">@ViewBag.CartCount</span>
        }
    </a>
</li>